/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200&family=Raleway:wght@300&family=Roboto+Condensed&display=swap');

*{
  margin: 0;
  padding: 0;
 }
 
 html{
    width: 100vw;
    height: 100vh;
 }

/* dropdown menu */
.dropbtn {
  background-color: #454545;
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 20px;
  border: none;
}

/* container needed to position dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* dropdown content */
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* menu links */
.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* show dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* change background color of dropdown button when content is shown */
.dropdown:hover .dropbtn {background-color: #1b9dc8;}
 
 body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image:url(https://lh3.googleusercontent.com/q7jqAGZU2OtrOmJtq26sXNKLFYfk1mSLJQED5Pkk7GNcsitdDEMe0ysUMm0tFjcgDjNU064aHVJcVc6A_xXQq3p7vFpo_g0bD5-ynqbmfIdXoCjBJrRjm2O8fmeACE4AnQxsTTbFTDQ=w2400);
  width: 100%;
  height: 100%;
  font-family: Poppins, Raleway;
  letter-spacing: 0.02em;
  font-weight: 400;
 }

  /* keep webpage from going past the bounds of the screen */
 .overflow-wrap{
   overflow-x: hidden;
 }
 
  /* SECTION ONE - PICTURE */
  /* blurred box for photo*/
 .blurred-box{
   position: relative;
   width: 250px;
   height: 350px;
   top: calc(50% - 175px);
   left: calc(50% - 125px);
   background: inherit;
   border-radius: 2px;
   overflow: hidden;
 }
 
 .blurred-box:after{
  content: '';
  width: 300px;
  height: 300px;
  background: inherit; 
  position: absolute;
  left: -25px;
  right: 0;
  top: -25px;
  bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
  filter: blur(20px);
 }
 
 /* profile picture */
 .user-login-box{
   position: relative;
   margin-top: 50px;
   text-align: center;
   z-index: 1;
 }
 .user-login-box > *{
   display: inline-block;
   width: 200px;
 }
 
 .user-icon{
   width: 200px;
   height: 200px;
   position: relative;
   border-radius: 50%;
   background-size: cover;
   background-image: url(https://lh3.googleusercontent.com/tPWdjv9ldcIzWWjaeUHrErpdVdYEcrXVAXGY8Bqa_kmb0GO2RWRGZ_lnTTDIctn2RPn-WXyk1yd5LInfYmFjjwzokaya4r8sl05oPbjegFsBrlcSItyxol5977hE9BAK5T7u_FgVNOI=w2400);
 }
 
 .user-name{
   margin-top: 0px;
   margin-bottom: 20px;
   color: white;
   font-size: 25px;
 }

 /* 'about me' link to the next section */
 .button{
  text-align: center;
  line-height: 4px;
  position: absolute;
  left: 65px;
  width: 120px;
  height: 20px;  
  opacity: 1.3;
  border: 2px solid #fff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 12pt;
  padding: 5px 15px;
  transition: all 0.5s;
 }

  /* get pointer cursor over 'about me' link */
 .page-link{
  cursor: pointer;
  }

  /* remove line from 'about me' link */
  a:link{
    text-decoration: none;
  }
   
  a:visited{
    text-decoration: none;
  }
 
  a:hover{
    text-decoration: none;
  }
 
  a:active{
    text-decoration: none;
  }
 
  /* SECTION TWO - PORTFOLIO */

* {box-sizing:border-box}

/* SKILLS */
/* container for skill bars */
.container{
  border-radius: 25px;
  width: 90%;
  background-color: #ddd;
}

.skills{
  border-radius: 25px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.py {width: 90%; background-color: #1b9dc8;}
.mat {width: 70%; background-color: #1b9dc8;}
.html {width: 80%; background-color: #1b9dc8;}
.css {width: 40%; background-color: #1b9dc8;}
.c {width: 50%; background-color: #1b9dc8;}
.canva {width: 90%; background-color: #8630e1;}
.g-suite {width: 100%; background-color: #595be1;}
.ms {width: 80%; background-color: #595be1;}
.eng {width: 100%; background-color: #d78feb;}
.span {width: 60%; background-color: #d78feb;}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* resume picture */

img.a{
  width: 850px;
  height: 1000px;
  object-position: center;
  border-radius: 25px;
}

/* hobbies photo */

img.b{
  width: 800;
  height: 800px;
  object-position: center;
  border-radius: 25px;
}

/* put skills and 'about me' section side by side */


.float-container {
  padding: 20px;
}

.float-child1{ /*intro*/
  margin-top: 150px;
  width: 35%;
  float: left;
  padding: 0px;
}

.float-child2{ /*resume*/
  width: 65%;
  float: right;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2rem
}

.float-child3{ /*hobbies*/
  width: 60%;
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2rem
}

.float-child4{ /*skills*/
  margin-top: 80px;
  width: 40%;
  float: right;
  padding: 20px;
}

/* about me */

.glass{
  background: rgb(160, 193, 255);
  opacity: 0.849;
  min-height: 80vh;
  width: 90%;
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  left: 60;
  position: absolute, fixed;
  text-align: center;
}

/* place navbar at the bottom of the page */
.bottom-navbar {
  background-color: #333;
  overflow: hidden;
  bottom: 0;
  width: 100%;
}

/* style the links inside the navbar */
.bottom-navbar a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* change the color of links on hover */
.bottom-navbar a:hover {
  background-color: #ddd;
  color: black;
}