
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200&family=Raleway:wght@300&family=Roboto+Condensed&display=swap');

body{
    font-family: Poppins;
}

header {
    font-family: Poppins;
}

.flex-container {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: center; 
    align-items: center; 
    font-size: 25px;
    text-align: center;
  
    background-color: #f5f3f2;
    padding: 25px;
  
    border-radius: 10px;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 41%; 
  }


.dropdown-item a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /*color to the active link*/
  .dropdown-item a.active {
    background-color: #106617;
    color: white;
  }

html {
	height: 100%;
	/* max-height: 600px; */
	width: 100%;
	background-color: rgba(129, 193, 233, 0.977);
	background-image:		
		url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
		url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
	background-repeat: repeat-x;
	background-position: 
		0 100%,
		0 100%;
	background-size: 
		800px,
		1000px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	}
